* {
  box-sizing: border-box;
  margin: 0;
  border: dashed rgb(218, 144, 144) 0.5px;
}

html {
  background-color: white;
}

header {
  margin: 30px 0;
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #aef3e2;
  font-family: 'Open Sans', Calibri;
  font-size: 18px;
}

.principal {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .principal {
    width : 1140px;
    margin: auto;
  }
}


h1 {
  font-size:20px;
  margin: 8px;
}

.marcar {
  text-decoration: none;
  color: black;
  font-size: 0.7em;
  margin: 8px;
}

li {
  list-style: none;
}

.senores {
  padding: 0 10px;
  margin: 12px 0;
  border-left: dashed white 1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cajas {
  background-color: rgb(142, 196, 241);
  border-radius: 20px;
  border: solid white 1.2px;
  display: flex;
  width: 100%;
}

.fotos {
  border-radius: 50%;
  height: 120px;
  border: solid white 1px;
}

.iniciales {
  background-color: rgb(102, 17, 17);
  color: white;
  display: inline-block;
  border-radius: 50px;
  height: 1.5em;
  width: 1.5em;
}

.datos {
  display: flex;
  font-size: 0.8rem;
}

.nombre {
  font-size: 1.5rem;
}

