* {
  box-sizing: border-box;
  margin: 0;
  border: dashed rgb(218, 144, 144) 0.5px;
}

body {
  margin: 0;
  background-color: #aef3e2;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 18px;
}

h1 {
  font-weight: 100;
  font-size:22px;
}

.marcar {
  font-size: 0.7em;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.cajas {
  background-color: rgb(142, 196, 241);
}
